extends layout

block content
    .card
        .card-content
            .title.is-4
                if user.gender === 'm'
                    | 👨
                else
                    | 👩
                | &nbsp;#{user.firstname} #{user.lastname}
                if isCurrentUser
                    | &nbsp;
                    span.tag это вы

            .block
                | Возраст: #{user.age}, #{user.city}

            .block
                a(href=`/profile/${user.id}/friends`) Друзья пользователя

            if !isCurrentUser
                if hasFriendship
                    form(method='POST', action='/profile/friends/stop').block
                        input(type='hidden', value=user.id, name='user_id')
                        button.button.is-light(type="submit") Прекратить дружбу
                else
                    form(method='POST', action='/profile/friends/add').block
                        input(type='hidden', value=user.id, name='user_id')
                        button.button.is-light(type="submit") Добавить в друзья

            .title.is-5 Интересы

            if isCurrentUser
                hr

                .block
                    form(method='POST', action='/profile/interest/save')
                        .field.mt-2
                            .control
                                textarea.textarea(name='value', placeholder='Интересы не указаны')= user.interests

                        .field
                            button.button.is-success(type="submit") Сохранить
            else
                if user.interests
                    pre.block.box= user.interests
                else
                    .block.help
                        | Интересы не указаны